<h2>New/Edit response action help </h2>
<p>Use this screen to create a new response action or edit one. Response actions contain a response text and an action to be taken on that response. Some of the fields in the form are:</p>
<dl>
  <%= dt 'Response text' %>
  <dd>The text in this column will be matched with the subscriber sent response to our message.</dd>
  <%= dt 'Action Type' %>
  <dd>The kind of action to be taken. For different action types there will be different fields further in this form.</dd>
</dl>