<h2>Home Page Help</h2>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp; The home page provides a view of all channels, channel groups and subscribers that are added by the user. To begin using the system,
</p>
<ul>
  <li>Add a channel or a channel group.</li>
  <li>Add subscribers to the system.</li>
  <li>Add subscribers to the channel.</li>
  <li>Add messages that need to be sent and the details on when to send</li>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp; You can use this screen to add channel or channel group and to add subscribers to the system.</p>
