<%- model_class = Channel -%>
<% content_for(:title,'New Channel') %>
<div class="page-header clearfix">
  <h2 class="pull-left">New Channel</h2>
  <%= help_tag(help_edit_channel_path) %>
</div>
<%= render :partial => 'form' %>
