<%- model_class = Message -%>
<div class="page-header clearfix">
  <h1 class="pull-left"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <%= help_tag(help_edit_message_path) %>
</div>
<%= render :partial => 'form' %>
