.page-header: h1 Delivery Notice

dl#delivery-notice.dl-horizontal
  = sa_delivery_notice_message_fields @subscriber_activity
  dt: strong Subscriber:
  dd= link_to print_or_dashes(@subscriber_activity.subscriber.name),
              subscriber_path(@subscriber_activity.subscriber)

  - if @subscriber_activity.channel && !@subscriber_activity.channel.class.system_channel?
    dt: strong Channel:
    dd= link_to print_or_dashes(@subscriber_activity.channel.name),
                channel_path(@subscriber_activity.channel)

  dt: strong Sent:
  dd= @subscriber_activity.created_at

.form-actions
  => link_to "Back", request.referer, class: "btn"