<% if @message.new_record? %>
  <p>Configure response actions after creating message</p>
<% else %>
  <%= link_to 'Configure Response Actions',channel_message_response_actions_path(@channel,@message), :class => 'btn' %>
<% end %>