<%- model_class = ResponseAction -%>
<div class="page-header clearfix">
  <h1 class="pull-left"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <%= help_tag(help_edit_response_action_path) %>
</div>
<%= render :partial => 'form' %>
