<h1>Welcome to Live Inspired</h1>
<p>Use Live Inspired to manage distribution of text and multi-media messages to specific groups of phones.</p>
<p>Live Inspired lets you create channels. You can add subscribers to these channels. You can also add multiple text and multi media messages to each channel. 
</p>
<p>Channels are of various types. These allow you to manage complex distribution strategies for your messages. Among others, you can:
<ul>
  <li>Broadcast a specific message to all subscribers</li>
  <li>Set a scheduled list of messages to be sent to all subscribers</li>
  <li>Create a set of messages from which a random message will be sent to the subscribers of the channel</li>
  <li>Create a set of ordered messages(like lessons), which will be sent to subscribers per schedule relative to when they join</li>
  <li>Create channels from which messages are sent to individual subscriber as and when they request it</li>
  <li>Ability to create complex schedules for the channels</li>
</ul>
</p>
<p>Live Inspired is a platform that provides you incredible flexibility in your message management tasks.</p>

<% if user_signed_in? %>
  <div class='voffset30'>
      <div class='span5'>
        <%= link_to 'Sign out', destroy_user_session_path, class:'btn btn-primary btn-large',method: :delete %>
      </div>
      <div class='span5'>
        <%= link_to 'Edit Profile', edit_user_registration_path,class:'btn btn-primary btn-large' %>
      </div>
  </div>
<% else %>
  <p>Give it a spin!</p>
  <div class='voffset30'>
      <div class='span5'>
        <%= link_to 'Sign in', new_user_session_path, class:'btn btn-primary btn-large' %>
      </div>
      <div class='span5'>
        <%= link_to 'Sign up', new_user_registration_path,class:'btn btn-primary btn-large' %>
      </div>
  </div>
<% end %>
