.write-message-area {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    padding: 20px;
    width: 100%;
}

.write-message-area textarea.form-control {
  height: 60px;
  padding: 10px;
}

.chat_area {
  float: left;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}

.chat-chatter, .chat-message {
  .media-left { padding-top: 5px; }
  .media-body {
    padding-top: 5px;
    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      .smaller {
        font-size: 70%;
        color: $silver;
      }
    }
  }
}

.chat-message {
  .media-body {
    h4 { font-size: 90%; }
  }
}
