h2 Non-member Channels

table#non_member_channels_table.table.table-striped
  thead: tr
    th Name
    th Type
    th Actions
  tbody
    - if @non_member_channels && @non_member_channels.count > 0
      - @non_member_channels.find_each do |channel|
        tr id="non_member_channels_#{channel.id}"
          td= channel.name
          td= channel.type_abbr
          td=> link_to "Add to group",
                      channel_group_add_channel_path(@channel_group, channel),
                      method: :post,
                      class: "btn btn-mini"

- if @non_member_channels && @non_member_channels.count > 0
  = will_paginate @non_member_channels, param_name: "non_member_channels_page", renderer: BootstrapPagination::Rails
