<% content_for(:title,"#{@channel_group.name} channel list") %>
<div class="page-header">
  <h1><%=@channel_group.name %> channel list</h1>
</div>

<div class="row pagination-centered">
  <div class="span6" id="non_member_channels">
    <%= render partial:'non_member_channels' %>
  </div>
  <div class="span5" id="member_channels">
    <%= render partial:'member_channels' %>
  </div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              channel_group_path(@channel_group), :class => 'btn'  %>
</div>