<div id="schedule_section" class="control-group" style= <%= channel_schedulable?(@channel.type) ? 'display:run-in' : 'display:none' %> >
  <% if @channel.new_record? || channel_schedulable?(@channel.type) %>
      <div class="control-group channel_schedule">
        <label class="string control-label" for="channel_schedule">Schedule</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.select_recurring :schedule,nil,{},{} %>
      </div>
  <% end %>
</div>
<div id="relative-schedule">
  <%= f.input :relative_schedule %>
</div>
