.rs_dialog_content {
  h1 { display: none; }
  .rs_dialog { margin-top: 0px !important; }
  .controls { display: none; }
  .day_holder {
    a {
      @extend .btn;
      @extend .btn-default;
      margin: 10px;
    }
    a.selected {
      @extend .btn-success;
    }
  }
  .rs_calendar_day {
    a {
      @extend .btn;
      @extend .btn-default;
    }
    a.selected {
      @extend .btn-success;
    }
  }
}
