// margins, paddings
@for $i from 0 through 100 {
  .m-#{$i} { margin: $i * 1px !important; }
  .mt-#{$i} { margin-top: $i * 1px !important; }
  .mr-#{$i} { margin-right: $i * 1px !important; }
  .mb-#{$i} { margin-bottom: $i * 1px !important; }
  .ml-#{$i} { margin-left: $i * 1px !important; }

  .p-#{$i} { padding: $i * 1px !important; }
  .pt-#{$i} { padding-top: $i * 1px !important; }
  .pr-#{$i} { padding-right: $i * 1px !important; }
  .pb-#{$i} { padding-bottom: $i * 1px !important; }
  .pl-#{$i} { padding-left: $i * 1px !important; }
}

.text-align-left { text-align: left !important; }
.text-align-center { text-align: center !important; }
.text-align-right { text-align: right !important; }

.font-normal { font-weight: normal; }
.font-bold { font-weight: bold; }

.voffset2      { margin-top: 2px;  }
.voffset5      { margin-top: 5px;  }
.voffset10     { margin-top: 10px; }
.voffset15     { margin-top: 15px; }
.voffset20     { margin-top: 20px; }
.voffset30     { margin-top: 30px; }

.remove_fields { margin-left: 180px; }
.add_fields    { margin-left: 180px; }
