body {
  padding-top: 60px;
}

.page-header {
  margin: 20px 0 30px;
}

.navbar-brand {
  margin-top: -10px;
}

.notification-well {
  text-align: center;
  .icon {
    font-size: 60px;
    color: $silver;
  }
}

#top-menu {
  background-color: $primary;
  color: $white;

  #app-navbar {
    ul {
      li {
        a {
          color: $white;
          text-transform: uppercase;
        }
        a:hover {
          color: $gallery;
        }
      }
    }
  }
}

.select2-container--bootstrap {
  display: inline-block !important;
}

.form-group .select2-container {
  width: 100% !important;
}

.col-md-8{
  a{
  margin-right: 5px;
  }
}

.margin-left-10 { margin-left: 5px; }
.margin-right-5 { margin-right: 5px; }

.rs_dialog_content {
  h1 { display: none; }
  .rs_dialog { margin-top: 0px !important; }
  .controls { display: none; }
  .day_holder {
    a {
      @extend .btn;
      @extend .btn-default;
      margin: 10px;
    }
    a.selected {
      @extend .btn-success;
    }
  }
  .rs_calendar_day {
    a {
      @extend .btn;
      @extend .btn-default;
    }
    a.selected {
      @extend .btn-success;
    }
  }
}
