/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require recurring_select
 *= require bootstrap-datetimepicker
 */


 .voffset2 {margin-top: 2px;}
 .voffset5 {margin-top: 5px;}
 .voffset10 {margin-top: 10px;}
 .voffset15 {margin-top: 15px;}
 .voffset20 {margin-top: 20px;}
 .voffset30 {margin-top: 30px;}

.remove_fields {
  margin-left: 180px;
}

.add_fields {
  margin-left: 180px;
}
